async-timeout==3.0.1
attrs==19.3.0
bcrypt==3.1.7
certifi==2020.4.5.2
cffi==1.14.0
chardet==3.0.4
cryptography==2.9.2
click==7.1.2
fire==0.2.1
Flask==1.1.2
Flask-Cors==3.0.8
Flask-SocketIO==4.3.0
gevent==20.6.1
gevent-websocket==0.10.1
greenlet==0.4.16
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
multidict==4.7.6
prettytable==0.7.2
pycparser==2.20
PyJWT==1.7.1
PyMySQL==0.9.3
python-dateutil==2.8.1
python-engineio==3.13.0
python-engineio-client==1.1
python-socketio==4.6.0
python-socketio-client==1.1
PyYAML==5.3.1
requests==2.23.0
six==1.14.0
termcolor==1.1.0
urllib3==1.25.9
Werkzeug==1.0.1
yarl==1.4.2
zope.event==4.4
zope.interface==5.1.0
